body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


header {
    background:  rgba(32, 34, 34, 0.623);
    text-align: center;
    position: fixed;
    z-index: 999;
    width: 100%;
  }

.logo{
    background: url(../images/logo.jpg) no-repeat;
    text-indent: -9999px;
    width: 186px;
    height: 78px;
    margin: 2px;
    
}
  
  .nav-toggle {
    display: none;
  }
  
  .nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .nav-toggle-label span,
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    display: block;
    background: white;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
  }
  
  .nav-toggle-label span::before,
  .nav-toggle-label span::after {
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after {
    top: 7px;
  }
  
  nav {
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background:  rgba(32, 34, 34, 0.623);
    width: 100%;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav li {
    margin-bottom: 1em;
    margin-left: 1em;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
  }
  
  nav a:hover {
    color: rgb(42, 179, 8);
  }
  
  .nav-toggle:checked ~ nav {
    transform: scale(1,1);
  }
  
  .nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
  }
  
  @media screen and (min-width: 800px) {
    .nav-toggle-label {
      display: none;
    }
  
    header {
      display: grid;
      grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
    }
    
    .logo {
      grid-column: 2 / 3;
    }
    
    nav {
      all: unset;
      grid-column: 3 / 4;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    
    nav ul {
      display: flex;
    }
    
    nav li {
      margin-left: 3em;
      margin-bottom: 0;
    }
    
    nav a {
      opacity: 1;
      position: relative;
    }
    
    nav a::before {
      content: '';
      display: block;
      height: 5px;
      background: rgb(230, 0, 0);
      position: absolute;
      top: -.75em;
      left: 0;
      right: 0;
      transform: scale(0, 1);
      transition: transform ease-in-out 250ms;
    }
    
    nav a:hover::before {
      transform: scale(1,1);
    }
  }

a {
    text-decoration: none;
    color: black;
    font-family: 'Baloo Tammudu', cursive;
}

.hero-image {
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/hero.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
   /* margin-top: 80px; */
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: whitesmoke;
    font-family: 'Lobster', cursive;
}

#rm , #ser {
    padding: 10px 20px;
    background: #e96656;
    border-style: none;
    border-radius: 7px;
    margin: 5px;
    color: whitesmoke;
    text-decoration: none;
}

#ser {
    padding: 10px 15px;
    background: #1e9e6b;
}

#rm:hover, #ser:hover {
    opacity: 0.8;
    background: #125688;
}

.service-head {
    text-align: center;
    position: relative;
    color: black;
}

.service-head h1 {
    font-size: 20px;
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.service-box {
    padding: 20px;
    flex: 1;
}

#one {
    width: 60px;
    color: #f00606;
}

#two {
    width: 60px;
    color: #1af525;
}

#three {
    width: 60px;
    color: #fff235;
}

#four {
    width: 60px;
    color: #01fde8;
}

.services img{
    border: 10px solid grey;
    padding: 10px;
    border-radius: 50%;
}

.services img:first-child:hover {
    border: 10px solid #f00606;
}

.services #comroom:hover {
    border: 10px solid #1af525 ;
}

.services #laundary:hover {
    border: 10px solid #fff235 ;
}

.services #mess:hover {
    border: 10px solid #01fde8 ;
}

.room-head {
    text-align: center;
    position: relative;
    color: whitesmoke;
    background:rgb(140, 118, 32);
    padding: 20px;
}

.room-head hr{
    width: 60px;
}

.rooms {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.room-box {
    flex: 1;
    background: white;
    border: 1px solid grey;
    padding: 10px;
    color: Black;
}

.room-box img{
    height: 200px;
    width: 100%;
}

.form-head {
    height: 300px;
    text-align: center;
    background-color: rgb(61, 18, 18);
    color: azure;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: stretch;
}

.contact {
    text-align: center;
    background: rgb(64, 64, 64);
    padding: 20px;
    margin: 0;
    color: azure;
}

.fa {
  padding: 15px;
  font-size: 20px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25%
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-youtube {
background: #bb0000;
color: white;
}

.fa-instagram {
background: #125688;
color: white;
}

footer{
    margin: auto;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 700px){
    footer ul{
    flex-direction: column;
    margin-bottom: 10px;
    -webkit-padding-start: 0px;
    }
}

footer li {
    display: inline;
    margin: auto;
    font-family: 'Times New Roman', Times, serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    text-align: center;
    flex: 1;
}

@media (max-width: 850px){
    .rooms {
        display: flex;
        /*flex-wrap: wrap; */
        flex-direction: column;
        justify-content: center;
    }
    .room-box img{
        height: 100%;
        width: 50%;
    }
}

@media (max-width: 575px){
    header {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
    }
}

@media (max-width: 440px){
    .hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    }
}